{% load static %}

<!-- Modal -->
<div class="modal fade  modal-dialog-scrollable" id="modal-servicios" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-servicioslabel">Servicios</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-secondary text-center mt-5 mb-5">Sin información</h3>
            </div>

        </div>
    </div>
</div>