{% extends 'login/base/base.html' %}{% load static %} {% block title %}
<title>Turixcam - Camaras en vivo</title>
{% endblock %} {% block description %}
<!-- Meta Tags -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="author" content="Webestica.com" />
<meta name="description" content="Turixcam - Camras en vivo" />
{% endblock %} {% block content %}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'login/assets/vendor/aos/aos.css' %} "
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'login/assets/vendor/choices/css/choices.min.css' %} "
/>
<link
  href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
  rel="stylesheet"
/>

<style>
  header {
    background-color: rgba(0, 0, 0, 0.164) !important;
  }

  .nav-control-letra {
    color: white !important;
  }

  .navbar-mobile-control {
    background-color: rgba(0, 0, 0, 0.349) !important;
    color: white !important;
  }

  .nav-control {
    backdrop-filter: blur(100px);
  }

  .bg-imge {
    background-image: url({{request.user.foto_portada}});
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    background-position: center;
  }

  .bg-imge::-webkit-scrollbar {
    display: none;
  }

  .rowperfil {
    margin-top: -6em;
  }

  @media (min-width: 768px) {
    .row {
      margin-top: -1em;
    }
  }

  .nav .nav-link {
    color: white !important;
    /* Color blanco cuando no está en focus */
  }

  .nav .nav-link:focus {
    color: black !important;
    /* Color negro cuando está en focus */
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: black !important;
    /* Color negro para enlaces activos */
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 15px;
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    backdrop-filter: blur(15px);
  }

  input {
    background-color: #ffffff00;
    color: white;
  }

  .new {
    
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
    0% {
        filter: drop-shadow(0 0 100px #00a800);
    }

    100% {
        filter: drop-shadow(0 0  10px #003402);
    }

}


</style>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<!-- **************** MAIN CONTENT START **************** -->

<main class="bg-imge">
  <section>
    <div class="container" style="backdrop-filter: blur(15px)">
      <img
        src="{{request.user.foto_portada}}"
        style="
          object-fit: cover;
          max-height: 48vh;
          width: 100vw;
          border-radius: 0 0 15px 15px;
        "
        class="img-fluid"
        alt=""
      />
      <div class="row rowperfil">
        <div
          class="col-lg-2 col-md-6 d-flex justify-content-lg-end justify-content-md-center justify-content-center"
        >
          <img
            width="168px"
            height="168px"
            {% if request.user.premium == "free" %}
            style="border-radius: 50%; border: 4px solid #ffffffe7"
            src="{{request.user.foto_perfil}}"
            alt="perfil"
            {% else %}
              class="new"
              src="{{request.user.foto_perfil}}"
              alt="perfil"
          {% endif %}
          />
 
        </div>
        <div
          class="col-lg-6 col-md-6 col-12 align-self-center text-center text-lg-start text-md-center mt-lg-0 mt-3"
        >
          <h3 style="color: white">
            {{request.user.first_name}} {{request.user.last_name}}
          </h3>
          <p style="color: white"><small>@{{request.user.username}}</small></p>
          <div class="">
            <img
              src="https://media.vidaenyucatan.com/wp-content/uploads/2019/11/11093354/barbara-zandoval-lPUD8oldJvE-unsplash-scaled.jpg"
              style="
                margin-right: -0.8em;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                border: 2px solid #ffffffe7;
              "
              alt=""
            />
            <img
              src="https://media.vidaenyucatan.com/wp-content/uploads/2019/11/11093354/barbara-zandoval-lPUD8oldJvE-unsplash-scaled.jpg"
              style="
                margin-right: -0.8em;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                border: 2px solid #ffffffe7;
              "
              alt=""
            />
            <img
              src="https://media.vidaenyucatan.com/wp-content/uploads/2019/11/11093354/barbara-zandoval-lPUD8oldJvE-unsplash-scaled.jpg"
              style="
                margin-right: -0.8em;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                border: 2px solid #ffffffe7;
              "
              alt=""
            />
            <img
              src="https://media.vidaenyucatan.com/wp-content/uploads/2019/11/11093354/barbara-zandoval-lPUD8oldJvE-unsplash-scaled.jpg"
              style="
                margin-right: -0.8em;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                border: 2px solid #ffffffe7;
              "
              alt=""
            />
            <img
              src="https://media.vidaenyucatan.com/wp-content/uploads/2019/11/11093354/barbara-zandoval-lPUD8oldJvE-unsplash-scaled.jpg"
              style="
                margin-right: -0.8em;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                border: 2px solid #ffffffe7;
              "
              alt=""
            />
          </div>
        </div>
        <div
          class="col-lg-4 col-md-12 col-12 d-flex align-self-end justify-content-lg-end justify-content-md-end justify-content-center mt-lg-0 mt-md-4 mt-3 mb-lg-4 mb-4"
        >
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#profile_data"
            class="btn btn-outline-light"
          >
            &nbsp;<i class="bi bi-pencil-fill"></i> &nbsp;Editar perfil &nbsp;
          </button>
          {% if request.user.premium == "free" %}
          <a
            type="button"
            href="{% url 'checkout' request.user.id %}"
            class="btn btn-light"
          >
            <i class="bi bi-stars text-warning"></i> Hazte premium </a
          >
          {% else %}
          <a
            type="button"
            href="{% url 'checkout' request.user.id %}"
            class="btn btn-outline-warning"
          >
            <i class="bi bi-stars text-warning"></i> Miembro Premium </a
          >
          {% endif %}
        </div>
      </div>
    </div>

    <div
      class="container mt-5"
      style="backdrop-filter: blur(15px); margin-bottom: 15vh"
    >
      <ul
        class="nav nav-tabs justify-content-between"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="home-tab"
            data-bs-toggle="tab"
            data-bs-target="#home-tab-pane"
            type="button"
            role="tab"
            aria-controls="home-tab-pane"
            aria-selected="true"
          >
            <i class="bi bi-heart-fill text-danger"></i> Favoritos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#profile-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            <i class="bi bi-bookmark-fill text-info"> </i> Guardados
          </button>
        </li>
        <li class="nav-item" role="presentation"></li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab" 
          tabindex="0"
        >
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
 

            {% if favoritos %}
                {% for fav in favoritos %}
                    <div class="swiper-slide" id="{{fav.camara.id}}" onclick="to_camara(this.id)">
                        <!-- Card START -->
                        <div class="card card-img-scale overflow-hidden bg-transparent">
                        <!-- Image and overlay -->
                        <div class="card-img-scale-wrapper">
                            <!-- Image -->
                            <img
                            src="{{fav.camara.logo.url}}"
                            class="card-img border-top"
                            style="height: 500px"
                            alt="{{fav.camara.titulo}}"
                            />
                            <!-- Badge -->
                            <div class="position-absolute bottom-0 start-0 p-3">
                            <div
                                class="badge text-bg-dark fs-6 rounded-pill stretched-link"
                            >
                                <i class="bi bi-geo-alt me-2"></i> {{fav.camara.estado}}
                            </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div
                            class="card-body px-2 border-bottom"
                            style="backdrop-filter: blur(12px) !important"
                        >
                            <!-- Title -->
                            <h5 class="card-title">
                            <a href="#" class="stretched-link">{{fav.camara.titulo}}</a>
                            </h5>
                            <!-- Price and rating -->
                            <div
                            class="d-flex justify-content-between align-items-center"
                            >
                            <h6 class="text-success mb-0">
                                $0 <small class="fw-light">/ vista gratuita</small>
                            </h6>
                            <h6 class="mb-0">
                                0<i class="fa-solid fa-star text-warning ms-1"></i>
                            </h6>
                            </div>
                        </div>
                        </div>
                        <!-- Card END -->
                    </div>
                {% endfor %}
            {% else %}
            <div class="swiper-slide">
                <h3 class="text-secondary text-center mt-5 mb-5">Sin información</h3>
            </div>
            {% endif %}

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div
    class="modal fade"
    id="profile_data"
    tabindex="-1"
    aria-labelledby="profile_data"
    aria-hidden="true"
  >
    <div class="modal-dialog" style="backdrop-filter: blur(15px) !important">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-light" id="profile_dataLabel">
            Mi perfil
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            style="background-color: white"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ul
            class="nav nav-tabs nav-bottom-line nav-justified nav-responsive rounded-top z-index-9 position-relative pt-2 pb-0 px-4"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 fs-5 active"
                data-bs-toggle="tab"
                href="#profile_info"
                aria-selected="false"
                role="tab"
                tabindex="-1"
                ><i class="bi bi-person-fill"></i
              ></a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 fs-5"
                data-bs-toggle="tab"
                href="#security"
                aria-selected="false"
                role="tab"
                tabindex="-1"
                ><i class="bi bi-key-fill"></i
              ></a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link mb-0 fs-5"
                data-bs-toggle="tab"
                href="#contact"
                aria-selected="false"
                role="tab"
                tabindex="-1"
              >
                <i class="bi bi-info-lg"></i
              ></a>
            </li>
          </ul>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade active show"
              id="profile_info"
              role="tabpanel"
            >
              <form id="form-userinfo" class="needs-validation" novalidate>
                <div class="mb-3 me-3 mt-3">
                  <label
                    for="exampleInputEmail1"
                    class="form-label text-light fw-bolder"
                    >Nombre de usuario</label
                  >
                  <input
                    type="text"
                    required
                    value="{{request.user.username}}"
                    class="form-control"
                    id="userinfo-nameuser"
                    style="
                      background-color: #ffffff00;
                      color: white;
                      border: var(--bs-border-width) solid #dee2e621 !important;
                    "
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="valid-feedback">Campo completado</div>
                <div class="invalid-feedback">Verifica este campo.</div>

                <div class="mb-3">
                  <label
                    for="exampleInputPassword1"
                    class="form-label text-light fw-bolder"
                    >Nombre</label
                  >
                  <input
                    required
                    type="text"
                    style="
                      background-color: #ffffff00;
                      color: white;
                      border: var(--bs-border-width) solid #dee2e621 !important;
                    "
                    value="{{request.user.first_name}}"
                    class="form-control"
                    id="userinfo-name"
                  />
                  <div class="valid-feedback">Campo completado</div>
                  <div class="invalid-feedback">Verifica este campo.</div>
                </div>
                <div class="mb-3">
                  <label
                    for="exampleInputPassword1"
                    class="form-label text-light fw-bolder"
                    >Apellidos</label
                  >
                  <input
                    required
                    type="text"
                    style="
                      background-color: #ffffff00;
                      color: white;
                      border: var(--bs-border-width) solid #dee2e621 !important;
                    "
                    value="{{request.user.last_name}}"
                    class="form-control"
                    id="userinfo-lastname"
                  />
                  <div class="valid-feedback">Campo completado</div>
                  <div class="invalid-feedback">Verifica este campo.</div>
                </div>
                <div class="mb-5">
                  <label
                    for="exampleInputPassword1"
                    class="form-label text-light fw-bolder"
                    >Correo</label
                  >
                  <input
                    required
                    type="email"
                    style="
                      background-color: #ffffff00;
                      color: white;
                      border: var(--bs-border-width) solid #dee2e621 !important;
                    "
                    value="{{request.user.email}}"
                    class="form-control"
                    id="userinfo-email"
                  />
                  <div class="valid-feedback">Campo completado</div>
                  <div class="invalid-feedback">Verifica este campo.</div>
                </div>
                <div class="d-grid gap-2 mt-4 mb-3">
                  <button class="btn btn-light" id="userinfo-btn" type="submit">
                    Actualizar
                  </button>
                </div>
              </form>
            </div>
            <!-- Tab content item END -->

            <!-- Tab content item START -->
            <div class="tab-pane fade" id="security" role="tabpanel">
              <form id="form-pass " class="needs-validation" novalidate>
                <div class="mb-3 mt-3">
                  <label for="exampleInputEmail1" class="form-label text-light"
                    >Contraseña</label
                  >
                  <input
                    type="text"
                    value="********"
                    style="
                      background-color: #ffffff00;
                      color: white;
                      border: var(--bs-border-width) solid #dee2e621 !important;
                    "
                    readonly
                    class="form-control text-secondary is-valid"
                    aria-describedby="emailHelp"
                  />
                  <div
                    id="emailHelp"
                    class="form-text"
                    style="font-size: 0.6em; color: white"
                  >
                    Nosotros no tenemos acceso a tu contraseña.
                  </div>
                </div>
                <div class="mb-3">
                  <label
                    for="exampleInputPassword1"
                    class="form-label text-light"
                    >Nueva contraseña</label
                  >
                  <input
                    type="password"
                    value=""
                    style="
                      background-color: #ffffff00;
                      color: white;
                      border: var(--bs-border-width) solid #dee2e621 !important;
                    "
                    class="form-control"
                    id="pass-firstpass"
                    required
                    minlength="8"
                  />
                  <div class="valid-feedback">Contraseña válida.</div>
                  <div class="invalid-feedback">
                    La contraseña debe tener al menos 8 caracteres.
                  </div>
                </div>
                <div class="mb-3">
                  <label
                    for="exampleInputPassword1"
                    class="form-label text-light"
                    >Repite contraseña</label
                  >
                  <input
                    type="password"
                    value=""
                    style="
                      background-color: #ffffff00;
                      color: white;
                      border: var(--bs-border-width) solid #dee2e621 !important;
                    "
                    class="form-control"
                    id="pass-secondpass"
                    required
                    minlength="8"
                  />
                  <div class="valid-feedback">Contraseña válida.</div>
                  <div class="invalid-feedback">
                    La contraseña debe tener al menos 8 caracteres.
                  </div>
                </div>
                <div class="d-grid gap-2 mt-4 mb-3">
                  <button class="btn btn-light" id="pass-btn" type="submit">
                    Actualizar contraseña
                  </button>
                </div>
              </form>
            </div>
            <!-- Tab content item END -->

            <!-- Tab content item START -->
            <div class="tab-pane fade" id="contact" role="tabpanel">
              <h5 class="mt-3 mb-3 text-light">Foto de perfil</h5>
              <form id="form-contacto" class="needs-validation" novalidate>
                <div class="mb-3">
                  <div class="swiper mySwiperimages">
                    <div class="swiper-wrapper">
                      {% for imgper in perfiles %}
                      <div class="swiper-slide"  id="{{imgper.id}}">
                        <img
                          style="
                            width: 200px !important;
                            height: 200px !important;
                          "
                          src="{{imgper.imagen.url}}"
                          alt=""
                        />
                      </div>
                      {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                <div class="mb-3">
                  <h5 class="mt-3 mb-3 text-light">Foto de portada</h5>

                  <div class="swiper mySwiperportadas">
                    <div class="swiper-wrapper">
                      {% for imgpor in portadas %}
                      <div class="swiper-slide" id="{{imgpor.id}}">
                        <img
                          style="
                            width: 200px !important;
                            height: 200px !important;
                          "
                          src="{{imgpor.imagen.url}}"
                          alt=""
                        />
                      </div>
                      {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                  </div>
                </div>
                <div class="d-grid gap-2 mt-4 mb-3">
                  <button class="btn btn-light" id="up_fotos" type="button">
                    Actualizar
                  </button>
                </div>
              </form>
            </div>
            <!-- Tab content item END -->
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- **************** MAIN CONTENT END **************** -->

{% csrf_token %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  var new_selected_portada = "";
  var new_select_profile = "";

  function successAlert(title = undefined) {
    Swal.fire({
      title: title,
      icon: "success",
      confirmButtonText: "Listo",
      customClass: {
        confirmButton: "btn btn-soft-primary",
      },
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        location.reload();
      } else if (result.isDenied) {
        Swal.fire("Ocurrio un error, intenta más tarde", "", "info");
      }
    });
  }

  function getCSRFToken() {
    const name = "csrftoken=";
    const decodedCookie = decodeURIComponent(document.cookie);
    const cookieArray = decodedCookie.split(";");

    for (let i = 0; i < cookieArray.length; i++) {
      let cookie = cookieArray[i].trim();
      if (cookie.indexOf(name) === 0) {
        return cookie.substring(name.length, cookie.length);
      }
    }

    return null;
  }
  var swiper = new Swiper(".mySwiper", {
    effect: "coverflow",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    coverflowEffect: {
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true,
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });

  function to_camara(ref) {
    window.location.href = "/camaras/detalle/" + ref;
  }
  var swiper = new Swiper(".mySwiperimages", {
    pagination: {
      el: ".swiper-pagination",
    },
    slidesPerView: 1,
    breakpoints: {
      // cuando la ventana es >= 640px
      640: {
        slidesPerView: 2,
      },
      // cuando la ventana es >= 768px
      768: {
        slidesPerView: 2,
      },
    },
    on: {
      click: function (swiper, event) {
        // Si ya hay un slide seleccionado, deseleccionarlo
        if (swiper.selectedSlide) {
          swiper.selectedSlide.style.border = "";
        }

        // Obtener el slide seleccionado
        var clickedSlide = swiper.clickedSlide;

        // Cambiar su estilo para indicar que ha sido seleccionado
        clickedSlide.style.border = "2px solid white";
        new_select_profile = clickedSlide.id;
        // Guardar el slide seleccionado
        swiper.selectedSlide = clickedSlide;
        console.log(new_select_profile);
      },
    },
  });

  var swiper = new Swiper(".mySwiperportadas", {
    pagination: {
      el: ".swiper-pagination",
    },
    on: {
      click: function (swiper, event) {
        // Si ya hay un slide seleccionado, deseleccionarlo
        if (swiper.selectedSlide) {
          swiper.selectedSlide.style.border = "";
        }

        // Obtener el slide seleccionado
        var clickedSlide = swiper.clickedSlide;

        new_selected_portada = clickedSlide.id;
        // Cambiar su estilo para indicar que ha sido seleccionado
        clickedSlide.style.border = "2px solid white";
        console.log(new_selected_portada);
        // Guardar el slide seleccionado
        swiper.selectedSlide = clickedSlide;
      },
    },
  });
  function getCSRFToken() {
    const name = "csrftoken=";
    const decodedCookie = decodeURIComponent(document.cookie);
    const cookieArray = decodedCookie.split(";");

    for (let i = 0; i < cookieArray.length; i++) {
      let cookie = cookieArray[i].trim();
      if (cookie.indexOf(name) === 0) {
        return cookie.substring(name.length, cookie.length);
      }
    }

    return null;
  }
  function successAlert(title = undefined) {
    Swal.fire({
      title: title,
      icon: "success",
      confirmButtonText: "Listo",
      customClass: {
        confirmButton: "btn btn-soft-primary",
      },
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        location.reload();
      } else if (result.isDenied) {
        Swal.fire("Ocurrio un error, intenta más tarde", "", "info");
      }
    });
  }
  document.getElementById("up_fotos").addEventListener("click", function () {
    var perfilUrl = new_select_profile;
    var portadaUrl = new_selected_portada;
    console.log(perfilUrl + " " + portadaUrl);
    // Crea un objeto FormData y añade las URLs
    const csrftoken = getCSRFToken();
    var formData = new FormData();
    formData.append("perfil", perfilUrl);
    formData.append("portada", portadaUrl);

    // Envía la petición a la vista en Django

    fetch("/up_images", {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": csrftoken,
      },
    })
      .then((response) => response.json())
      .then((data) => {
        successAlert("Datos actualizados");
      })
      .catch((error) => console.error("Error:", error));
  });
</script>

<script src="{% static 'login/assets/js/profilevalidate.js' %}  "></script>
{% endblock %}
