{% extends 'login/base/base.html' %}{% load static %}

{% block title %}
<title>Turixcam - Camaras en vivo </title>
{% endblock %}

{% block description %}
<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Webestica.com">
<meta name="description" content="Turixcam - Camras en vivo">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<style>
    body {
        background-image: url("{% static 'login/assets/images/fondos/zacatlan.jpg' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    header {
        background-color: rgba(0, 0, 0, 0.164) !important;
    }

    .titulo-trans {
        background: -webkit-linear-gradient(left, lightgreen, skyblue, orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: start;
        font-size: 5rem;
    }

    /* Cuando la pantalla es de 600px o menos, cambia el tamaño de la fuente a 4rem */
    @media screen and (max-width: 600px) {
        .titulo-trans {
            font-size: 4rem;
        }
    }

    .nav-control-letra {
        color: white !important;
    }

    .navbar-mobile-control {
        background-color: rgba(0, 0, 0, 0.349) !important;
        color: white !important;
    }

    .bg-blur-100 {
        backdrop-filter: blur(100px);
    }

    .sticky {
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .card-img-scale-wrapper{
        cursor: pointer;
    }
</style>
<main>

    <section class="py-3 py-sm-0 ">
        <div class="container">
            <h1 class="titulo-trans text-center">Vamos a turixtear</h1>

        </div>
    </section>
    <!-- =======================
	Search START -->

    <section class="py-3 py-sm-0 sticky">
        <div class="container">
            <!-- Offcanvas button for search -->
            <button class="btn btn-outline-light d-sm-none w-100 mb-0 text-light" type="button"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasEditsearch" aria-controls="offcanvasEditsearch"><i
                    class="bi bi-pencil-square me-2"></i>Abrir buscador</button>

            <!-- Search with offcanvas START -->
            <div class="offcanvas-sm offcanvas-top  " tabindex="-1" id="offcanvasEditsearch"
                aria-labelledby="offcanvasEditsearchLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasEditsearchLabel">Buscador de lugares</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                        data-bs-target="#offcanvasEditsearch" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body p-2">
                    <div class=" p-4 rounded w-100">
                        <!-- Booking from START -->
                        <form class="card shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 "
                            style="background-color: rgba(0, 0, 0, 0.512) !important;">
                            <div class="row g-4 align-items-center">
                                <!-- Location -->
                                <div class="col-lg-4">
                                    <div class="form-control-border form-control-transparent form-fs-md d-flex">
                                        <!-- Icon -->
                                        <i class="text-success bi bi-geo-alt fs-3 me-2 mt-2"></i>
                                        <!-- Select input -->
                                        <div class="flex-grow-1">
                                            <label class="form-label">Estado</label>
                                            <select id="form-estado" class="form-select js-choice"
                                                data-search-enabled="true">
                                                <option selected value="todos">Todos</option>
                                                <option value="hidalgo">Hidalgo</option>
                                                <option value="puebla">Puebla</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Location -->
                                <div class="col-lg-4">
                                    <div class="form-control-border form-control-transparent form-fs-md d-flex">
                                        <!-- Icon -->
                                        <i class="bi text-info bi-geo-alt fs-3 me-2 mt-2"></i>
                                        <!-- Select input -->
                                        <div class="flex-grow-1">
                                            <label class="form-label">Municipio</label>
                                            <select id="form-municipio" class="form-select js-choice "
                                                data-search-enabled="true">
                                                <option selected value="todos">Todos</option>
                                                <option value="huasca de ocampo">Huasca de Ocampo</option>
                                                <option value="Huauchinango">Huauchinango</option>
                                                <option value="zacatlan">Zacatlan</option>


                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <!-- Location -->
                                <div class="col-lg-4">
                                    <div class="form-control-border form-control-transparent form-fs-md d-flex">
                                        <!-- Icon -->
                                        <i class="text-danger bi bi-geo-alt fs-3 me-2 mt-2"></i>
                                        <!-- Select input -->
                                        <div class="flex-grow-1">
                                            <label class="form-label">Lugares</label>
                                            <select id="form-lugar" class="form-select js-choice"
                                                data-search-enabled="true">
                                                <option selected value="todos">Todos</option>
                                                <option value="cascadas">Cascadas </option>
                                                <option value="puente colgante">Puente colgante </option>
                                                <option value="centro">Centro </option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Button -->
                            <div class="btn-position-md-middle">
                                <a data-bs-dismiss="offcanvas" data-bs-target="#offcanvasEditsearch" aria-label="Close"
                                    class="icon-lg btn btn-round btn-outline-light mb-0" href="#"><i
                                        class="text-light bi bi-search fa-fw"></i></a>
                            </div>
                        </form>
                        <!-- Booking from END -->
                    </div>
                </div>
            </div>
            <!-- Search with offcanvas END -->
        </div>
    </section>
    <!-- =======================
	Search END -->

    <section class="pt-0 pt-md-5 mt-xl-0 mt-5 ">
        <div class="container">
            <div class="row ">
                <div class="col-lg-4 col-md-6 col-12 mb-lg-4 " data-crd-estado="Puebla" data-crd-municipio="Puebla" data-crd-lugar="Centro">
                    <div class="card card-img-scale overflow-hidden bg-transparent ">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Huasca/huasca.jpg" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Hidalgo</span>
                                    <span class="badge text-bg-white "><i
                                            class="fa-solid fa-sun text-warning me-2"></i>25°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5 ">Huasca de Ocampo</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body px-2 bg-blur-100">
                            <!-- Title -->
                            <h5 class="card-title text-center"><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Cascada colgante</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                </div>
                <div data-crd-estado="Querétaro" data-crd-municipio="Tequisquiapan" data-crd-lugar="Viñedos La Redonda"
                    class="col-lg-4 col-md-6 col-12 mb-lg-4">
                    <div class="card card-img-scale overflow-hidden bg-transparent">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Huauchinango/huachinango.png"
                                style="filter: brightness(0.80);" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Puebla</span>
                                    <span class="badge text-bg-white"><i
                                            class="fa-solid fa-cloud-rain text-info me-2"></i>15°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5">Huauchinango</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body px-2 bg-blur-100">
                            <!-- Title -->
                            <h5 class="card-title text-center"><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Huauchinango centro</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                </div>
                <div data-crd-estado="Guanajuato" data-crd-municipio="San Miguel de Allende"
                    data-crd-lugar="Parroquia de San Miguel Arcángel" class="col-lg-4 col-md-6 col-12 mb-lg-4">
                    <!-- Card START -->
                    <div class="card card-img-scale overflow-hidden bg-transparent">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Valqurico/valquirico.jpg" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Puebla</span>
                                    <span class="badge text-bg-white"><i
                                            class="fa-solid fa-cloud text-info me-2"></i>19°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5">Valquirico</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body px-2 bg-blur-100">
                            <!-- Title -->
                            <h5 class="card-title text-center "><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Valquirico centro</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                    <!-- Card END -->
                </div>
                <div data-crd-estado="Nuevo León" data-crd-municipio="Hidalgo" data-crd-lugar="Parque Fundidora"
                    class="col-lg-4 col-md-6 col-12 mb-lg-4">
                    <div class="card card-img-scale overflow-hidden bg-transparent ">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Huasca/huasca.jpg" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Hidalgo</span>
                                    <span class="badge text-bg-white "><i
                                            class="fa-solid fa-sun text-warning me-2"></i>25°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5 ">Huasca de Ocampo</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body px-2 bg-blur-100">
                            <!-- Title -->
                            <h5 class="card-title text-center"><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Cascada colgante</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                </div>
                <div data-crd-estado="Sinaloa" data-crd-municipio="Mazatlán" data-crd-lugar="Malecón"
                    class="col-lg-4 col-md-6 col-12 mb-lg-4">
                    <div class="card card-img-scale overflow-hidden bg-transparent">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Huauchinango/huachinango.png"
                                style="filter: brightness(0.80);" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Puebla</span>
                                    <span class="badge text-bg-white"><i
                                            class="fa-solid fa-cloud-rain text-info me-2"></i>15°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5">Huauchinango</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body px-2 bg-blur-100">
                            <!-- Title -->
                            <h5 class="card-title text-center"><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Huauchinango centro</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                </div>
                <div data-crd-estado="Tamaulipas" data-crd-municipio="Tampico" data-crd-lugar="Plaza de Armas"
                    class="col-lg-4 col-md-6 col-12 mb-lg-4">
                    <!-- Card START -->
                    <div class="card card-img-scale overflow-hidden bg-transparent">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Valqurico/valquirico.jpg" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Puebla</span>
                                    <span class="badge text-bg-white"><i
                                            class="fa-solid fa-cloud text-info me-2"></i>19°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5">Valquirico</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body px-2 bg-blur-100">
                            <!-- Title -->
                            <h5 class="card-title text-center "><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Valquirico centro</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                    <!-- Card END -->
                </div>
                <div data-crd-estado="Tabasco" data-crd-municipio="Villahermosa" data-crd-lugar="Parque Museo La Venta"
                    class="col-lg-4 col-md-6 col-12 mb-lg-4">
                    <div class="card card-img-scale overflow-hidden bg-transparent ">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Huasca/huasca.jpg" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Hidalgo</span>
                                    <span class="badge text-bg-white "><i
                                            class="fa-solid fa-sun text-warning me-2"></i>25°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5 ">Huasca de Ocampo</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body px-2 bg-blur-100">
                            <!-- Title -->
                            <h5 class="card-title text-center"><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Cascada colgante</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                </div>
                <div data-crd-estado="Nayarit" data-crd-municipio="Sayulita" data-crd-lugar="Playa de los Muertos"
                    class="col-lg-4 col-md-6 col-12 mb-lg-4">
                    <div class="card card-img-scale overflow-hidden bg-transparent">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Huauchinango/huachinango.png"
                                style="filter: brightness(0.80);" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Puebla</span>
                                    <span class="badge text-bg-white"><i
                                            class="fa-solid fa-cloud-rain text-info me-2"></i>15°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5">Huauchinango</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body px-2 bg-blur-100">
                            <!-- Title -->
                            <h5 class="card-title text-center"><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Huauchinango centro</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                </div>
                <div data-crd-estado="Campeche" data-crd-municipio="Campeche" data-crd-lugar="Centro Histórico"
                    class="col-lg-4 col-md-6 col-12 mb-lg-4">
                    <!-- Card START -->
                    <div class="card card-img-scale overflow-hidden bg-transparent">
                        <div class="card-img-scale-wrapper ">
                            <!-- Card Image -->
                            <img loading="lazy" src="https://turixcam-images.b-cdn.net/Valqurico/valquirico.jpg" alt="">
                            <!-- Overlay -->
                            <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                                <!-- Card overlay top -->
                                <div class="d-flex justify-content-between fs-5">
                                    <span class="badge text-bg-dark">Puebla</span>
                                    <span class="badge text-bg-white"><i
                                            class="fa-solid fa-cloud text-info me-2"></i>19°</span>
                                </div>
                                <!-- Card overlay bottom -->
                                <div class="w-100 mt-auto">
                                    <!-- Card category -->
                                    <span class="badge text-bg-white fs-5">Valquirico</span>
                                </div>
                            </div>
                        </div>

                        <!-- Card body -->
                        <div class="card-body bg-blur-100 px-2">
                            <!-- Title -->
                            <h5 class="card-title text-center "><a href="{% url 'view_detail_camara' %}"
                                    class="stretched-link">Valquirico centro</a></h5>
                            <!-- Content -->

                        </div>
                    </div>
                    <!-- Card END -->
                </div>
            </div>
        </div>

    </section>


</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function () {
    const selects = ['estado', 'municipio', 'lugar'];
    const formIds = selects.map(id => `#form-${id}`);
    const dataAttrs = selects.map(id => `data-crd-${id}`);

    formIds.forEach((formId, index) => {
        $(formId).change(function() {
            const selectedValue = $(this).val().toLowerCase();
            const nextFormId = formIds[index + 1];
            const nextDataAttr = dataAttrs[index + 1];

            if (nextFormId) {
                $(nextFormId).empty();
                let optionsAvailable = false;

                $(`div[${dataAttrs[index]}]`).each(function() {
                    const divValue = $(this).attr(dataAttrs[index]).toLowerCase();
                    if (selectedValue === "todos" || divValue.includes(selectedValue)) {
                        const nextValue = $(this).attr(nextDataAttr);
                        $(nextFormId).append(new Option(nextValue, nextValue));
                        optionsAvailable = true;
                    }
                });

                if (!optionsAvailable) {
                    $(nextFormId).append(new Option("Ningún valor disponible", ""));
                }
            }

            $('div[data-crd-estado]').fadeOut();

            if (selectedValue === "todos" && formId === '#form-estado') {
                $('div[data-crd-estado]').fadeIn();
                $('#form-municipio, #form-lugar').append(new Option("Seleccione una opción", ""));
            } else {
                $('div[data-crd-estado]').each(function () {
                    const match = selects.every((select, i) => {
                        const value = $(`#form-${select}`).val().toLowerCase();
                        const divValue = $(this).attr(`data-crd-${select}`).toLowerCase();
                        return value === "todos" || divValue.includes(value);
                    });

                    if (match) {
                        $(this).fadeIn();
                    }
                });
            }
        });
    });
});


</script>


{% endblock %}