{% extends 'login/base/base.html' %}{% load static %}

{% block title %}
<title>Turixcam - Camaras en vivo </title>
{% endblock %}
{% block description %}
<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="turixcam.com">
<meta name="description" content="Turixcam - Terminos y condiciones">
<style>
    h4{
        margin-top: 2vh;
    }
    h5{
        margin-top: 5vh;
    }
    p{
        margin-top: 15px;
        text-align: justify;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="w-100">



        <h4>Terminos y condiciones</h4>


        <p>
            La aplicación puede recopilar cierta información automáticamente, que incluye, entre otros, el tipo de
            dispositivo móvil, la dirección pública, las cookies de terceros y su sistema operativo móvil. Los
            navegadores
            de Internet ajustan nuestro producto. Estos videos no se almacenan localmente en el dispositivo y no es
            opcional
            guardar las emisiones, ya que son en vivo y no proporcionamos ninguna herramienta propia de Turixcam para
            ejercer esta acción. Todos los datos proporcionados por el usuario se eliminarán tan pronto como el usuario
            así
            lo solicite. Para garantizar la seguridad de sus datos, nos reservamos el derecho a los mismos. Los datos
            permanecerán con Turixcam, aunque el usuario desinstale la aplicación, esto con el fin de brindarle un mejor
            servicio al usuario.<br>

            <br>Esta aplicación hace el mayor esfuerzo por no mostrar rostros de personas, así como números relacionados
            con
            vehículos, como placas de circulación. Sin embargo, no aplica la misma restricción a los colores. Es
            importante
            mencionar que esta aplicación no reproduce ningún tipo de audio y/o sonido sin el consentimiento y la acción
            del
            usuario. Asimismo, Turixcam no recopila el contenido de las cámaras en vivo.
            Turixcam ofrece publicidad pagada por particulares, con el mismo aviso de privacidad, es decir no hay
            preferencia alguna o beneficio que la persona publica no tenga.
        </p>




        <h5>¿LA APLICACIÓN RECOPILA INFORMACIÓN EXACTA DE LA UBICACIÓN DEL DISPOSITIVO EN TIEMPO REAL?</h5>

        <p>
            Esta aplicación no recopila información precisa sobre la ubicación de su dispositivo móvil en tiempo real.
            Si
            Turixcam se ve involucrado en una fusión, adquisición o venta de todos o parte de sus activos, se le
            notificará
            por correo electrónico y/o un aviso prominente en nuestro sitio web sobre cualquier cambio en la propiedad o
            los
            usos de esta información, así como cualquier opción que usted pueda tener al respecto.
        </p>





        <h5>¿CUÁLES SON MIS DERECHOS DE EXCLUSIÓN?</h5>

        <p>
            Puede detener fácilmente toda la recopilación de información por parte de la aplicación notificándolo al
            equipo
            técnico o solicitándolo en turixcam.com/legal. Puede utilizar los procesos de desinstalación estándar que
            pueden
            estar disponibles como parte de su dispositivo móvil o a través del mercado o red de aplicaciones móviles.
            También puede solicitar su exclusión enviando un correo electrónico a: soporte@turixcam.com.
        </p>



        <h5>POLÍTICA DE CONSERVACIÓN DE DATOS, GESTIÓN DE SU INFORMACIÓN</h5>

        <p>
            Conservaremos los datos proporcionados por el usuario mientras utilice la Aplicación y durante un tiempo
            indefinido posteriormente. Conservaremos la información recopilada automáticamente durante un tiempo
            indefinido
            y posteriormente podremos almacenarla de forma indefinida. Si desea que eliminemos los datos que ha
            proporcionado a través de la aplicación, contáctenos en nuestro correo soporte@turixcam.com y le
            responderemos
            en el menor tiempo posible. Tenga en cuenta que algunos o todos los datos proporcionados por el usuario
            pueden
            ser necesarios para que la aplicación funcione correctamente.
        </p>

        <h5>RESTRICCIONES</h5>





        <p>En la aplicación móvil y la plataforma web está prohibido:</p>


        <p>
        <ul>
            <li>
                Recopilar el contenido de las emisiones en vivo, ya sea audio o video.
            </li>
            <li>
                Grabar o compartir contenido de la plataforma o aplicación sin el consentimiento explícito de Turixcam.

            </li>
            <li>
                Usar un lenguaje soez, ofensivo, racista o cualquier descripción que pueda afectar a la comunidad.
            </li>
            <li>
                Realizar cualquier tipo de intrusión a nuestras plataformas, sistemas o cualquier tipo de arquitectura
                propiedad de Turixcam, así como extraer datos confidenciales salvaguardados por Turixcam.
            </li>
            <li>
                Sabotear los servicios de las plataformas ofrecidas por Turixcam.
            </li>
            <li>
                Compartir tus datos confidenciales tales como contraseña, usuario o cualquier identificador propio de tu
                cuenta
            </li>
            <li>
                Compartir o usar imágenes de grado pornográfico o despectivo hacia la comunidad.
            </li>
            <li>
                Acosar, violentar discriminar a algún usuario de Turixcam.
            </li>
            <li>
                Promover alguna corriente o propaganda política.
            </li>
            <li>
                Promover publicidad de cualquier tipo sin previa autorización de Turixcam.
            </li>
            <li>
                Realizar cualquier acción de “spam” o información falsa.
            </li>
            <li>
                Hacer mal uso de los canales de comunicación proporcionados por Turixcam, así mismo los señalamientos
                falsos
                o cualquier acción que requiera atención del equipo de soporte de Turixcam.
            </li>
            <li>

            </li>
        </ul>
        </p>
        <p>
            Nos reservamos el derecho de limitar o suspender nuestros servicios a personas que:
        </p>
        <p>
        <ul>
            <li>
                Infrinjan las restricciones establecidas en los términos y condiciones.
            </li>
            <li>
                Sean identificadas por Turixcam como saboteadores o no gratas.
            </li>
            <li>
                Utilicen la plataforma para fines ilegales o no éticos.
            </li>
            <li>
                Intenten manipular, alterar o interferir con el funcionamiento normal de la aplicación o plataforma.
            </li>
        </ul>
        </p>
        <p>
            Cualquier violación o incumplimiento de los términos y condiciones podrá ser acreedor a una sanción
            dictaminada
            por Turixcam las cuales se describen a continuación:
        </p>
        <p>
        <ul>
            <li>
                Advertencia o señalamiento: Se notificará por medio de las plataformas y correo electrónico
                proporcionado por
                el usuario la falta cometida, esta tiene una naturaleza de señalamiento o advertencia. Esta sanción
                puede ser
                apelable o reversible si así lo decide Turixcam.
            </li>
            <li>
                Suspensión de actividades: Se describen como comentar los directos, guardar en las secciones de
                favoritos,
                compartir ideas por medio de la aplicación o plataforma web, personalizar tu perfil y/o realizar
                modificaciones
                a la cuenta del usuario. Dicha suspensión tendrá una duración estipulada por Turixcam. Esta sanción
                puede ser
                apelable o reversible si así lo decide Turixcam.
            </li>
            <li>
                Suspensión temporal de la cuenta: Esta sanción implica negar el acceso total a la cuenta del usuario
                responsable por un tiempo limitado. La duración de esta sanción será estipulada por Turixcam. Esta
                sanción puede
                ser apelable o reversible si así lo decide Turixcam.
            </li>
            <li>
                Suspensión definitiva de la cuenta: Esta sanción implica la negación del acceso a la cuenta del usuario
                responsable de manera total. También podremos eliminar o compartir la información total del usuario
                acreedor a
                esta sanción con las autoridades competentes si así lo decide Turixcam. Esta sanción no es apelable ni
                reversible si así lo decide Turixcam. Este usuario será identificado como “persona no grata” o
                “saboteadora”
                según la naturaleza de la falta y la decisión de Turixcam.
            </li>
            <li>
                Baneo o negación de servicio: Esta sanción implica que alguna persona señalada por Turixcam como
                “persona no
                grata” o “saboteadora” pueda hacer uso de las plataformas, con el uso de restricción de acceso por medio
                de la
                IP pública. Esta sanción no es apelable ni reversible si así lo decide Turixcam
            </li>
        </ul>
        </p>


        <p>
            Turixcam hace el mayor esfuerzo por mantener una comunidad apta para todo el mundo por lo tanto Turixcam no
            tiene tolerancia hacia actitudes racistas, homofóbicas u ofensivas en grado de acoso o violencia de género,
            cualquier usuario que irrumpa o viole lo estipulado será catalogado por Turixcam como “persona no grata” lo
            que
            conlleva a la suspensión definitiva de la cuenta del usuario responsable. Asimismo, Turixcam puede compartir
            la
            información del usuario infractor a las autoridades competentes según la naturaleza de la infracción.{'\n'}
            Cualquier usuario que haya sido señalado como infractor más de tres veces será acreedor a la suspensión
            definitiva de su cuenta.
        </p>
        <p>
            Cualquier usuario acreedor a alguna sanción tiene derecho a ser notificado por medio de correo electrónico
            la
            razón por la cual fue infraccionado.
        </p>
        <p>
            Cualquier usuario tiene derecho a apelar sus sanciones si la naturaleza de esta lo permite, de otra manera
            Turixcam se reserva el derecho al dialogo o negociación.
        </p>
        <p>
            Para las apelaciones se comparte el siguiente correo de comunicación: soporte@turixcam.com así mismo en la
            notificación o aviso se comparte el canal de comunicación.
        </p>
        <p>
            Ningún usuario esta exento a los términos y condiciones.
        </p>

        <h5>
            SEGURIDAD
        </h5>
        <p>
            En Turixcam nos preocupamos por salvaguardar la confidencialidad de su información y la de sus usuarios.
            Podemos
            detectar, eliminar o limitar el servicio a cualquier usuario que viole los términos y condiciones
            estipulados,
            esto para garantizar la seguridad y convivencia de nuestra comunidad. Proporcionamos salvaguardas físicas,
            electrónicas y procesales para proteger la información que procesamos y mantenemos. Por ejemplo, limitamos
            el
            acceso a esta información a empleados y contratistas autorizados que necesitan conocer esa información para
            operar, desarrollar o mejorar nuestra aplicación.
        </p>
        <p>
            Tenga en cuenta que, aunque nos esforzamos por proporcionar una seguridad razonable para la información que
            procesamos y mantenemos, ningún sistema de seguridad puede prevenir todas las posibles violaciones de
            seguridad.
        </p>


        <h5>CAMBIOS</h5>
        <p>Esta Política de Privacidad puede actualizarse periódicamente sin previo aviso por cualquier motivo. Le
            notificaremos cualquier cambio en nuestra Política de Privacidad mediante la publicación de la nueva
            Política de
            Privacidad actualizada.
        </p>
        <h5>CONTÁCTENOS</h5>


        <p> Si desea comunicarse con nosotros sobre cualquiera de los asuntos relacionados con esta política de
            privacidad,
            incluido el ejercicio de cualquiera de sus derechos, comuníquese con nuestro departamento de atención al
            cliente
            enviando un correo electrónico a: soporte@turixcam.com.
        </p>













    </div>
</div>
{% endblock %}